@media screen and (max-width: 1199px) {
  .activity {
    display: none;
  }
}
.activity__list {
  display: flex;
  flex-wrap: wrap;
}

.activity__item:not(:first-child) {
  margin-left: 30px;
}
.activity__thumb {
  position: relative;
}
.activity__meta {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $activity-meta-color;
  width: 100%;
  height: 70px;
}

.activity__title {
  margin-bottom: 50px;
}

.activity__name {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-color;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
