.address__item:not(:last-child) {
  margin-bottom: 8px;
}
.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $adress-color;
  &--white {
    color: $primary-color;
  }
}
.address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
