.contacts {
  display: flex;
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-left: auto;
    flex-direction: column;
    align-self: center;
    gap: 10px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: auto;
  }
}
@media screen and (min-width: $desktop) {
  .contacts__item:not(:first-child) {
    margin-left: 50px;
  }
}

.contacts__link {
  font-weight: 500;
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.14;
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  letter-spacing: 0.02em;
  color: $phone-color;
  transition: color $timing-function;
}
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link:hover,
.contacts__link:focus {
  color: $accent-color;
}
