.footer {
  background-color: $hero-color;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}
.logo_secondary--white {
  color: $primary-color;
}
.footer__container {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    // gap: 60px;
  }
}
.footer__nav {
  @media screen and (min-width: $desktop) {
    text-align: left;
  }
}
