.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__primary {
  color: $accent-color;
}
.logo__secondary {
  color: $logo-color;
  &--white {
    color: $primary-color;
  }
}
