.team {
  background-color: $team-section-bg-color;
}
.team__title {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
.team__list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}
.team__item {
  background-color: $primary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  // flex-basis: 354px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    flex-basis: 354px;
  }
}

@media screen and (max-width: $tablet) {
}
.teammate__info {
  padding-top: 30px;
  padding-bottom: 24px;
  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}
.teammate__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.teammate__post {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $phone-color;
}
