.btn {
  display: inline-block;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  color: inherit;
  border-color: transparent;
  border: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--without-padding {
  padding-top: 0;
}

.title {
  font-weight: 700;
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.18;
  }
  @media screen and (min-width: $desktop) {
    font-size: 36px;
    line-height: 1.17;
  }
  text-align: center;
  letter-spacing: 0.03em;
}
