$main-color: #212121;
$logo-color: #000000;
$phone-color: #757575;
$primary-color: #ffffff;
$accent-color: #2196f3;
$hero-color: #2f303a;
$layout-color: rgba(47, 48, 58, 0.4);
$box-shadow-color: rgba(0, 0, 0, 0.15);
$adress-color: rgba(255, 255, 255, 0.6);
$footer-socials-bg-color: rgba(255, 255, 255, 0.1);
$border-bottom-color: #ececec;
$examples-border-color: #eeeeee;
$team-section-bg-color: #f5f4fa;
$clients-logo-color: #afb1b8;
$activity-meta-color: rgba(47, 48, 58, 0.8);
$close-border-color: rgba(0, 0, 0, 0.1);
$data-modal-color: rgba(0, 0, 0, 0.2);
$product-overlay-color: rgba(33, 150, 243, 0.9);
$subscribe-form-color: rgba(255, 255, 255, 0.6);
$input-border-color: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);
$button-submit-color: #188ce8;
$main-font-family: 'Roboto', 'Times New Roman', 'Verdana', 'Tahoma', sans-serif;
$additional-font-family: 'Raleway';
$indent: 30px;
$items: 3;
$timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
